.Home{
    .addButton{
        background-color: rgb(255, 255, 255);
        outline: none;
        border: none;
        border-radius: 100%;
        font-size: 4em;
        font-weight: bolder;
        padding: 0 .5em .2em;
        text-align: center;

        position: fixed;
        top: 77vh;
        left: 5%;
        opacity: .4;
        color: #000000;
        cursor: pointer;
        transition: opacity .2s linear;

        &:hover{
            opacity: 1;
        }
    }
}