.creditCard {
    width: 85%;
    padding: 3.5em 4%;
    margin: .5em auto .5em auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(53, 105, 128, 0.3),
        0 6px 20px 0 rgba(165, 200, 213, 0.41);
    text-align: right;
    color: #ffffff;
    cursor: pointer;
    font-family: "Dosis";
    user-select: none;
    text-transform: uppercase;
    background-color: #FE4A49;

    h1 {
        margin-top: 0;
        font-weight: 700;
        font-family: "Dosis";
        font-size: 2.8em;
    }
}
